# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv

# YAML file storage (temporary DB replacement)
data/

# Virtual environments
venv/
.envvenv/

# Docker
*.log

# Editor directories
.vscode/
.idea/
